/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron{
  background-image: url('/imgs/questionsBG.png');
  background-size:cover;
}
.display-4{
	color:#fff;
}
.display-5{
	color: rgba(255,255,255,.5);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  box-sizing: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.container{
	max-width: 800px;
}
